*{
  background-color: #fafafa;
}

/*--------------Categorias-------------------*/
.contSubCateg{
  border: 1px solid transparent;
  border-radius: 8px;
  top:20px;
  box-shadow: 2px 3px 15px 5px  #e0e0e0;
}


.subContenido>hr{
  width: 100%;
  box-shadow: 1px 2px 55px 1px  #e0e0e0;
}
a{
  font-size: 15px;
}


.subContenido>ul{
  list-style-type: none;
}

/*-----------------------------------------*/
.barraNav > li:hover{
  background-color: #263033;

}
/*-----------Circulo de Carga----------------*/

.loader{
  position: absolute;
  left: 48%;
  top: 50%;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-bottom: 16px solid blue;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin{
  0%{
    -webkit-transform:rotate(0deg);
  }
  100%{
    -webkit-transform:rotate(360deg)
  }
}

@keyframes spin {
  0%{transform: rotate(0deg);}
  100%{transform: rotate(360deg);}
}

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}




/*-------------------------------------*/


/*-------------Tarjeta de Producto--*/

.contGeneral{

  border-radius: 5px;
  left: 10px;
  bottom: 25px;
}
#contGeneral{
  visibility: none;
}

#precioTarj>h5{
  text-decoration:underline;
}

#columnAnuncio{
background-color: #fafafa;
left: 15px;
top: 15px;
}

.anuncioPrincipal{
  height: 100%;

}

#ftProdTarj{
  width: 100%;
  height: 100%;
  margin: auto;
  border-radius: 5px;
}


#contAnuncio{
  box-shadow: -2px 5px 10px 10px #eeeeee;
  border-radius: 25px;
  margin:8px;
  height: 185px;
}
.contAnuncio{
  width: 100%;
  margin: auto;
}
#imgAnuncio{

}
#imgAnuncio>img{
  margin-top: 10px;
  height: 100px;;
  width: 100px;
  border-radius: 8px;

}

#tituloAnuncio{

  margin: 12px;
  margin-top: 15px;

}

#precioAnuncio{

  margin-top: 15px;
}

#detalleAnuncio{

  left: 12px;
  bottom: 5px;

}

#contAds{
  top:22px;
}


/*--------- Pagina Producto -----------------*/
.contPagProd{
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  box-shadow: 2px 3px 35px 5px  #e0e0e0;
  border-radius: 5px;
}

.contProd{
  margin-top: 5px;
  border-radius: 15px;
  max-width: 50%;
  margin-left: 150px;
  width: 50%;
  height: auto;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction:column;
  flex-direction: column;
}

.producto{
  height: auto;
  width: 840px;
  height: 600px;
  box-shadow: 5px 5px 20px 15px #eeeeee;
  border-radius: 15px;
}
.producto>img{
  height: 590px;
  width: 830px;
  border-radius: 15px;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;

}


.detalleProd{

  border-radius: 15px;
  height: 250px;
  width: 840px;
  margin-top: 3px;
  box-shadow: 5px 5px 20px 15px #eeeeee;
}
.detalleProd>h6{
  margin-left: 10px;
  font-weight: bold;
  font-family: sans-serif;
}

.detalleProd>p{
  font-family: cursive;
  margin-left: 10px;
}





.contPrecioVendedor{

  border-radius: 15px;
  width: 430px;
  height: auto;
  margin-left: 10%;
  margin-top: 5px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction:column;
  flex-direction: column;

}

.detallePrecio{
  border-radius: 15px;
  height: 250px;
  width: 400px;
  margin: 15px;
  box-shadow: 5px 5px 10px 5px #eeeeee;
}
.detallePrecio>hr{
  width: 70%;
  margin-left: 55px;
}
.btnContactar>button{
  margin-left: 30%;
}


.detalleVendedor{

  border-radius: 15px;
  height: 250px;
  width: 400px;
  margin: 15px;
  box-shadow: 5px 5px 10px 5px #eeeeee;
}

.contFotoPerfil{
  width: 100px;
  height: 100px;
  margin-left: 40%;
  margin-top: 15px;
}
.contFotoPerfil>img{
  width: 80px;
  height: 80px;
  border-radius: 50px;
}

.acercaVend>h6{

  text-align: center;
  text-transform: uppercase;
}
.acercaVend>hr{
  color: #6c6c6c;
  width: 70%;
  margin-left: 58px;
}


.conmpartirProd{
  border-radius: 15px;
  margin-bottom: 5px;
  height: 150px;
  width: 840px;
  margin-top: 5px;
  box-shadow: 5px 5px 10px 5px #eeeeee;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}
#infCompartir>h6{
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-family: sans-serif;
}

.iconoSocial{
  margin-left: 47%;
  margin-top:30px;
  width: 51px;
  height: 51px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 2px #e0e0e0;
}

/*-----------------------------------------*/



/*Formulario de subida de producto*/
#containerFormProd{
  width: 60%;
  margin-top: 50px;
  margin-bottom: 25px;
  border-radius: 15px;
  box-shadow: 0px 5px 10px 2px rgba(0,0,0,0.5);
}
.formUpload{
  margin: 25px auto;
  width: 50%;
  height: auto;

}

.formFotosUpload{
  margin:30px auto;
  width: 80%;
  height: auto;
}


.form-group{
  width: 400px;
}

.formUpload>form{
  margin-left: 100px;
}
label{
  font-size: 18px;
}
#contDetProd>textarea{
  border-radius: 5px;
  width: 100%;
}


.drop_zone{
  width: 400;
  height: 200px;
  border: 0.5px solid #eeeeee;
  border-radius: 15px;
}



#infoForm{
  text-transform: uppercase;
  font-weight: bold;
  font-family: sans-serif;
}

/*-------------------------------------*/


/*-----Productos del usuario--------*/

.imgTabla{
  width: 50px;
  height: 50px;
}



/*------------------------------------*/


/* ----Perfil Usuario Activo-----*/

.contPagPerfil{
  margin:15px;
  perspective: 1200px;
  transform:preserve-3d;
}
.contFotoyNombre{
  background-color: #eeeeee;
  height: 30%;
  margin: auto;

}

#containerMod{

}

.fotoPerfil{
  width: 100%;
  height: 100%;
  margin: auto;
  background-color: #eeeeee;
}

.fotoPerfil>img{
  width: 150px;
  height: 150px;
  border-radius: 90px;
  margin-left: 32%;
}



#nombrePerfil>h6{
background-color: #eeeeee;
margin: auto;
}

.letraGris>label{
  font-style:italic;
  color: #757575;
}
.letraGris>h4{
  font-style: normal;
  color: #757575;
}

.contFormEdit{
  border-radius: 5px;
  margin-top:10px;
  margin-bottom: 10px;
}








/*---------------------------------*/
.contFoot{
  margin: 15px;
  border: 1px solid black;
  background: #f5f5f5;
  width: 99.9%;
  margin: 15px;
  margin-left: 0px;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}

.footerMain{
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}
.contacto>li>h5{
  margin: 15px;
}

.imgLogo{
  margin-left: 5px;
}

#iconoFacebook{
  width: 50px;
  height: 50px;
}

.contFoot>.datosFoot{
  margin: 5px;
  border: 1px solid blue;
}

.datosFoot{
  width: 99%;
  height: 60px;
  flex-wrap: wrap;
  display: -webkit-flex;
  display: flex;

}

.datosfoot>#imgFoot{
  width: 500px;
  height: 350px;
}



.socialIcons{
  margin-left: 38%;
  margin: 15px;
  height: 50px;
  width: 50px;
}
.socialIcons>#iconoInsta{
  margin-top: 3px;
}

.contSocialIcons{
  margin-left: 38%;
  margin-bottom: 6px;
  margin-top: -10px;
  width: auto;
  height: 50px;
  flex-wrap: wrap;
  display: -webkit-flex;
  display: flex;
}


.copyRight{
  margin-left: 5px;
}

.contLinks{
  margin-left: 350px;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;

}

.links{
  margin: 10px;
  border: 0.5px solid #bdbdbd;
  border-radius: 5px;
  height: 15px;
  width: 80px;

}

@import url('https://fonts.googleapis.com/css?family=Roboto');

/****** LOGIN MODAL ******/
.modal-dialog{
  margin-top: 10%;
}
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: 'Roboto', sans-serif;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
  font-family: font-family: 'Roboto', sans-serif;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}

/*-------------------Boton de logout*/

#btn-logout:hover{
  background-color: red;
}
